@page "/about"

<h1>About</h1>
<p>
    Github repo: <a href="https://github.com/mschult2/stardew-planner">https://github.com/mschult2/stardew-planner</a>
    <br />
    Reddit account: <a href="https://www.reddit.com/user/darkveins2/">https://www.reddit.com/user/darkveins2/</a>
</p>
